.banner {
  /* 1. Set a background image */
  background-image: url('MOUNTAIN.jpg');   
  /* 2. Make the background image cover the banner div */
	background-size: cover;     
  /* 3. Center the image */
	background-position: center;
}

.banner h1 {
  color: blue;
  font-size: 60px;
}
.banner h2 {
  color: blue;
  font-size: 40px;
  font-weight: lighter;
	opacity: 0.9;
}

.banner {
  background-image:
    /* Transparent gradient above */
    linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.1) 50%),
    /* Then image below */
    url('MOUNTAIN.jpg');
}

.banner-with-flat-filter {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('MOUNTAIN.jpg');
}